extends layout

block content
  .page.thirdary
    include includes/header
    .page-region
      .page-region-content
        h3 The Enjoy International Lecture Series gives students the opportunity to explore foreign culture while gaining valuable professional skills for for the future.
        .grid
          .row
            h2.text-right Topics
            .span8
              - if (videos.length) {
                #videos
                  //a.fp-prev
                  //a.fp-next
                .scrollable-wrap
                  a.prev
                  .scrollable
                    .items
                      - var v, i;
                      - for (i = 0; i < videos.length; i++) {
                      - v = videos[i];
                      - if (i % 5 === 0) {
                        - if (i === 0) {
                          | <div>
                        - } else {
                          | </div><div>
                        - }
                      - }
                          a(data-uuid="#{v.uuid}", style="background-image: url('/downloads/#{v.uuid}.png');", title="#{v.title}")
                      - }
                      | </div>
                  a.next
              - }
            .span4.scroll-div(style="margin-right: 0; height: 474px;")
              each l in lectures
                .span4.bg-color-blueLight.lecture
                  h4 Topic: #{l.topic}
                  h5 Lecturer: #{l.lecturer}
                  h5 Location: #{l.location}
                  h5 Date: #{l.get_date()}
        .grid
          .row
            h2.text-right Presentations
            .span8
              .jcarousel-wrapper.bg-color-lighten
                .jcarousel(data-jcarousel="true", data-wrap="circular")
                  ul(style="margin: 0px;")
                    - var fp = presentations[0] || [];
                    - for (var i = 0; i < fp.count; ++i) {
                      li
                        img.lazy(data-original="/downloads/#{fp.uuid}-#{i}.jpg")
                    - }
                //a.jcarousel-control-prev(data-jcarousel-control="true", data-target="-=1", href="#") &lsaquo;
                //a.jcarousel-control-next(data-jcarousel-control="true", data-target="+=1", href="#") &rsaquo;
                .jcarousel-nav
                  i.fg-color-blue.icon-arrow-left-3.jcarousel-control-prev(data-jcarousel-control="true", data-target="-=1")
                  i.fg-color-blue.icon-arrow-right-3.jcarousel-control-next(data-jcarousel-control="true", data-target="+=1")
            .span4.scroll-div(style="margin-right: 0; height: 517px;")
              each p in presentations
                .span4
                  .image-container.bg-color-lighten(style="width: 100%; cursor: pointer;", data-type="presentation", data-uuid="#{p.uuid}", data-count="#{p.count}")
                    .presentation
                      img(src="/downloads/#{p.uuid}-0.jpg")
                    .overlay
                      .padding10.fg-color-grayDark.tertiary-text Title: #{p.title}
        .grid
          .row
            .span8
              #documentViewer.flexpaper_viewer(style="width:630px;height:870px;")
            .span4.scroll-div(style="margin-right: 0;")
              each a in articles
                .span4
                  .image-container.bg-color-white(style="width: 100%; cursor: pointer;", data-type="article", data-uuid="#{a.uuid}")
                    .article
                      img(src="/downloads/#{a.uuid}.png")
                    .overlay
                      .padding10.fg-color-black.tertiary-text #{a.title}

    //-include includes/footer

block js
  script(type='text/javascript').
    ;(function($){
      $(document).ready(function(e){
        var init_slides = function(){
          $('.jcarousel').jcarousel($('.jcarousel').data());

          $('[data-jcarousel-control]').each(function() {
            var el = $(this);
            el.jcarouselControl(el.data());
          });
          $('.jcarousel').jcarousel('scroll', 0);
        };
        init_slides();
        $('.image-container[data-type="presentation"]').click(function(e){
          $('.jcarousel').jcarousel('destroy');
          $('.jcarousel ul').empty();
          var count = parseInt($(this).data('count'), 10)
            , uuid = $(this).data('uuid')
            , slide = $('<li><img /></li>')
            , tmp;
          for(var i = 0; i < count; i++){
            tmp = slide.clone();
            $('img', tmp).attr('src', '/downloads/' + uuid + '-' + i + '.jpg');
            $('.jcarousel ul').append(tmp);
          }
          init_slides();
        });
        //$(".player").flowplayer({swf: "/javascript/flowplayer.swf"});
        var playlist = []
          , videos = $(".scrollable a")
          , scrollable
          , api
          , i
          , uuid;
        videos.each(function (i, v) {
          uuid = $(this).data('uuid');
          if (i === 0) {
            $('#videos').css({
              'background-image': 'url("/downloads/' + uuid + '.jpg")'
            });
          }
          playlist.push([{
            mp4: '/downloads/' + uuid
          }]);
        });
        $(".scrollable").scrollable();
        scrollable = $(".scrollable").data("scrollable");
        $('#videos').flowplayer({
          swf: "/javascript/flowplayer.swf",
          playlist: playlist
        }).bind('ready', function (e, api, video) {
          videos.each(function (i) {
            var active = i == video.index;
            $(this).toggleClass("is-active", active)
                   .toggleClass("is-paused", active && api.paused);
          });
        }).bind("pause resume", function (e, api) {
          videos.eq(api.video.index).toggleClass("is-paused", e.type == "pause");
        }).bind("finish", function (e, api) {
          var vindex = api.video.index
            , currentpage = Math.floor(vindex / 5)
            , scrollindex = scrollable.getIndex()
            , next;
   
          if (vindex % 5 != 0 && scrollindex == currentpage) {
            scrollable.next();
          } else if (scrollindex != currentpage) {
            next = vindex < playlist.length - 1 ? vindex + 1 : 0;
            scrollable.seekTo(Math.floor(next / 5));
          }
        });
        api = $("#videos").data("flowplayer");
        videos.click(function () {
          var vindex = videos.index(this);
          if (api.video.index === vindex) {
            api.toggle();
          } else {
            api.play(vindex);
          }
        });
        $(".scrollable-wrap a[title]").tooltip({position: "bottom center"});
        if ($('.image-container[data-type="article"]').length > 0) {
          $('#documentViewer').FlexPaperViewer(
            { config : {
                SWFFile : '/downloads/' + $('.image-container[data-type="article"]').data('uuid') + '.swf',

                Scale : 0.6,
                ZoomTransition : 'easeOut',
                ZoomTime : 0.5,
                ZoomInterval : 0.2,
                FitPageOnLoad : true,
                FitWidthOnLoad : false,
                FullScreenAsMaxWindow : false,
                ProgressiveLoading : false,
                MinZoomSize : 0.2,
                MaxZoomSize : 5,
                SearchMatchAll : false,
                InitViewMode : 'Portrait',
                RenderingOrder : 'flash',
                StartAtPage : '',

                ViewModeToolsVisible : true,
                ZoomToolsVisible : true,
                NavToolsVisible : true,
                CursorToolsVisible : true,
                SearchToolsVisible : true,
                WMode : 'window',
                localeChain: 'en_US'
            }
          });
        }
      });
    })(jQuery);

append scripts
  script(src='/javascript/jquery.jcarousel.min.js', text='text/javascript')

//- this JS must be included in head to fix IE8 compatibility issue
append hscripts
  script(src='/javascript/jquery.tools.min.js', text='text/javascript')
  script(src='/javascript/flowplayer.js', text='text/javascript')
  script(src='/javascript/flexpaper.js', text='text/javascript')
  script(src='/javascript/flexpaper_handlers.js', text='text/javascript')

append css
  link(rel='stylesheet', href='/css/jcarousel.simple.css')
  link(rel="stylesheet", href="/css/skin/minimalist.css")
  link(rel="stylesheet", href="/css/flexpaper.css")
