extends layout

block content
  .page.thirdary
    include includes/header
    .page-region
      .page-region-content
        each v in videos
          .image-container.bg-color-blue51.place-left
            img(src="/downloads/#{v.uuid}.jpg")
            .overlay #{v.title}
              | <br>
              | #{v.get_date()}
            a.icon-download-2.bottom-right(href="/media/#{v.uuid}", target="_blank")
            - if (role === 'admin') {
              a.icon-cancel.top-right(href="#", data-uuid="#{v.uuid}")
            - }
        - if (role === 'admin') {
          a#upload.place-left.bg-color-blue51.icon-plus-2(href="#")
        - }
    //-include includes/footer

  - if (role === 'admin') {
    .dialog.modal#upload_popup
      .modal-header New Media
        i.icon-cancel.close
      .modal-content
        .alert.bg-color-red
          span
          i.icon-cancel
        form.box#fileupload(action="/media", method="POST", enctype="multipart/form-data")
          .progress-bar
            .bar.bg-color-red
          .input-control.text
            input#title(name="title", type='text', required="required", placeholder="Title")
            button.helper(type="button", tabindex="-1")
          .input-control
            input#video(name="video", required="required", type='file', accept='video/mp4')
          button.bg-color-blue.fg-color-white#uploadbtn(type="submit") Upload
          a.button.close.bg-color-red.fg-color-white#cancel Cancel
  - }

block js
  - if (role === 'admin') {
    script(type='text/javascript').
      ;(function($){
        $(document).ready(function(e){
          var popup = $('#upload_popup');
          $('#upload').click(function(e){
            $('.alert', popup).hide();
            popup.lightbox_me();
          });
          $('form').ajaxForm({
            dataType: 'json',
            beforeSerialize: function($form, options){
              $('#title', $form).val($.trim($('#title', $form).val()));
              //$('#embed', $form).val($.trim($('#embed', $form).val()));
              //if(!$('#title', $form).val() || !$('#embed', $form).val()){
              if(!$('#title', $form).val() || !$('#video', $form).val()){
                return false;
              }
            },
            beforeSubmit: function(formData, jqForm, options){
              var $form = jqForm[0];
              $('.close', $form).addClass('disabled').attr('disabled', 'disabled');
              $('.bar', $form).css('width', '0%');
            },
            uploadProgress: function(e, position, total, done){
              $('.bar', popup).css('width', done + '%');
            },
            success: function(data){
              window.location.href = '/media';
            },
            error: function(jqXHR, textStatus, errorThrown){
              $('.close', popup).removeAttr('disabled').removeClass('disabled');
              var rt = jqXHR.responseText
                , jsrt = {};
              try{
                jsrt = $.parseJSON(rt);
              }catch(e){
              }
              if(jsrt.error){
                $('.alert span', popup).html(jsrt.error);
                $('.alert', popup).show();
              }
            }
          });
          $('.alert .icon-cancel').click(function(e){
            $(this).parent('.alert').hide();
          });
          $('a.icon-cancel').click(function(e){
            var _this = $(this);
            $.ajax({
              url: '/media/' + _this.data('uuid'),
              type: 'DELETE',
              success: function(data){
                _this.parent('.image-container').remove();
              }
            });
          });
        });
      })(jQuery);
  - }

append scripts
  script(src='/javascript/jquery.lightbox_me.js', text='text/javascript')
  script(src='/javascript/jquery.form.js', text='text/javascript')
